.review-slideout {
 position:relative
}
.review-slideout__main {
 transition:all 1.5s;
 position:fixed;
 right:-505px;
 width:505px;
 top:80px;
 max-height:400px;
 background-color:#fff;
 z-index:1031
}
.review-slideout__main--active {
 right:0;
 box-shadow:-4px 0 9px 0 rgba(0,0,0,.19)
}
.review-slideout__dismissed {
 position:fixed;
 right:0;
 top:168px;
 box-shadow:0 4px 9px 0 rgba(0,0,0,.19);
 background-color:#fff;
 width:436px
}
.review-slideout__dismissed-text {
 color:#555
}
.review-slideout__side-bar {
 transition:all 1.5s;
 left:-58px;
 cursor:pointer;
 background-color:#ed4642;
 box-shadow:-5px 0 9px 0 rgba(0,0,0,.19);
 height:58px;
 position:absolute;
 width:58px;
 border-radius:3px;
 text-align:center
}
.review-slideout__side-bar--active {
 opacity:0
}
.review-slideout__side-bar span {
 color:#fff;
 font-size:18px
}
.review-slideout .review__product-name {
 color:#555;
 font-weight:700;
 line-height:22px
}
.review-slideout .review__form {
 margin-bottom:82px
}
.review-slideout .review__variant-info {
 overflow:scroll;
 height:100%;
 max-height:450px
}
.review-slideout .review__color-text {
 color:#555;
 font-size:12px
}
.review-slideout .review__buttons {
 position:absolute;
 width:100%;
 background-color:#fff;
 bottom:0
}
.review-slideout .review__main-form {
 width:100%;
 position:absolute;
 z-index:2;
 background-color:#fff;
 padding:0 10px 0 16px
}
.review-slideout .review__main-form--active {
 background-color:#fff;
 box-shadow:-4px 0 9px 0 rgba(0,0,0,.19);
 max-height:400px
}
.review-slideout .review__main-form--active--expanded {
 max-height:1000px;
 height:auto
}
.review-slideout .fade-enter-active,
.review-slideout .fade-leave-active {
 transition:opacity 1.5s
}
.review-slideout .fade-enter,
.review-slideout .fade-leave-to {
 opacity:0
}
.review-slideout .row {
 margin-left:-16px
}
@media (max-width:991.98px) {
 .review-slideout__side-bar {
  top:80px
 }
 .review-slideout__main {
  top:0;
  height:100%;
  max-height:none
 }
 .review-slideout__main--active {
  right:0;
  bottom:0;
  top:0;
  width:100%
 }
 .review-slideout__dismissed {
  top:80px;
  width:312px;
  text-align:center
 }
 .review-slideout .review__main-form .review-stars__stars div {
  font-size:45px
 }
 .review-slideout .review__variant-info {
  max-height:none
 }
 .review-slideout .review__form {
  height:fit-content;
  margin-bottom:150px
 }
 .review-slideout .review__main-form--active {
  height:100%;
  max-height:none
 }
}
